@mixin headings($x,$y) {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $x + $y * (6 - $i);
      margin-top: 0;
      margin-bottom: ($x + $y * (6 - $i)) / 2;
      line-height: 1;
    }
  }
}

@function tint($color, $percentage){
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage){
  @return mix(black, $color, $percentage);
}
